//buttons
$cl-d-blue: rgb(0, 84, 182);
$cl-white: rgb(255, 255, 255);
$cl-l-grey: rgb(223, 223, 223);

.is-blue {
  color: $cl-white;
  border-width: 1px;
  border-color: transparent;
  text-transform: uppercase;
  border-radius: 18px;
  background: $cl-d-blue;
  transition: 0.5s all;

  &:hover {
    color: $cl-l-grey;
    border-color: $cl-l-grey;
    background: transparent;
    transition: 0.5s all;
  }
}

.is-white {
  color: $cl-l-grey;
  border-width: 1px;
  border-color: $cl-l-grey;
  text-transform: uppercase;
  border-radius: 18px;
  background: transparent;
  transition: 0.5s all;

  &:hover {
    color: $cl-white;
    border-color: $cl-d-blue;
    background: $cl-d-blue;
    transition: 0.5s all;
  }
}

.is-gray {
  border-width: 1px;
  text-transform: uppercase;
  border-radius: 18px;
  transition: 0.5s all;
  color: rgb(155, 155, 155);
  border-color: rgb(155, 155, 155);
  background: transparent;

  &:hover {
    color: $cl-d-blue;
    border-color: $cl-d-blue;
    background: transparent;
    transition: 0.5s all;
  }
}

// animations
.bounce-animation {
  animation: bounce-anim 1.5s 0s infinite alternate;
  transform: rotate(90deg);

  @keyframes bounce-anim {
    0% {
      transform: translateY(0px);
    }

    25% {
      transform: translateY(10px);
    }

    50% {
      transform: translateY(-4px);
    }

    75% {
      transform: translateY(4px);
    }

    100% {
      transform: translateY(-10px);
    }
  }
}

.services {
  transition: 0.6s all;
  min-width: 11rem;
  border-radius: 0.5 rem;
  border: 1px solid $cl-white;
  border-image: url(/images/vectors/long-dash-border.svg) 1 round;

  &:after,
  &:before {
    border: 0 solid #c7c7c7;
  }

  .services-img {
    max-width: 120px;
  }
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

/* X Small(xs) */
@media (min-width: 150px) {}

/* Small (sm) */
@media (min-width: 640px) {}

/* Medium (md) */
@media (min-width: 768px) {}

/* Large (lg) */
@media (min-width: 1024px) {
  .is-blue {
    color: $cl-white;
    border-color: transparent;
    background: $cl-d-blue;

    &:hover {
      color: $cl-d-blue;
      border-color: $cl-d-blue;
      background: transparent;
    }
  }

  .is-white {
    color: rgb(155, 155, 155);
    border-color: rgb(155, 155, 155);
    background: transparent;

    &:hover {
      color: $cl-d-blue;
      border-color: $cl-d-blue;
      background: transparent;
    }
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {}


@media (min-width: 1480px) {}
